@model ProductStore.Data.Models.Product
<div>
    <h2>Название продукта: @Model.ProductsName</h2>
    <p>Описание :@Model.Desc</p>
    <p>Цена: @Model.Price.ToString("C2")</p>
    <p>
        @foreach (var el in Model.Stores)
        {
            <p> Магазин: @el.TitleName</p>
        }
    </p>
    <p>
        <a asp-action="Edit" asp-controller="Home" asp-route-id="@Model.Id">Изменить</a>
    </p>
    <p>
        <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@Model.Id">
            <input type="submit" value="Удалить" />
        </form>
    </p>

</div>
